

.card-container{
    width: 350px;
    height: 600px;
    background-color: rgb(258, 150, 0);
    text-align: center;
    border-radius: 10px;
    margin: auto;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "top" "bottom";
    /* overflow: hidden; */
}

.language-title{
    grid-area: top;
   color: aliceblue;
   font-weight: bold;
   font-size: 2rem;
   margin-top: 1rem;
}

.cards{
    grid-area: bottom;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}